*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
.both{
    display: flex;
    align-items: center;
}
.sharre{
    width: 70%;
    margin-top: 5px;
    text-align: end;
}
.sharee2{
    display: none;
}
#profile_img{
    /* margin-top: 1px; */
    margin-left: 5%;
    margin-right: 5%;

    
}

#profile{
    text-align: center;
}
#twitter{
    margin-top: 10px;
    margin-bottom: 20px;
}
.input_link{
    width: 100%;
    text-align: center;
}
.links{
    
}
button{
    width: 1152px;
    gap: 8px;
    padding: 24px 32px;
    margin-top: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #EAECF0;
    color: black;
}
.picture2{
    margin-right: auto;
    margin-left: 15px;
    margin-top: 10px;

}
.picccccS{
    margin-right: auto;
    margin-left: auto;
}
.footer1{
    text-align: center;
    margin: 20px;

}

footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* margin-top: 2px; */
    border: 1px solid  #EAECF0;
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding: 7px;

}
.zuri{
    text-align: center;
    margin-bottom: 15px;
    margin-top: 20px;
    font-size: 17px;
    font-family: sans-serif;
}

a{
    color: black;
}

footer{
    font-size: 10px;
}

@media screen and (max-width: 800px){
    .main_page{
        margin-top: 65px;
        height: 85vh;
        margin-left: 5%;
        margin-right: 5%;
    }
    button{
        width: 310px;
    }
    .sharre{
        background: url();
    }
    .sharre{
        display: none ;
    }
    .sharee2{
        display: block;
        width: 80%;
        margin-top: 5px;
        text-align: end;
    }
    footer{
        display: grid;
        width: 100%;
        justify-content: center;
        /* margin: 10px; */
    }
    .zuri{
        text-align: center;
        margin-bottom: 15px;
        margin-top: 20px;
        font-size: 17px;
        font-family: sans-serif;
    }
    .front{
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
        font-size: 12px;
    }
}
